*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1750px;
    padding: 0 15px;
    margin: 0 auto;
    @media (max-width:1440px){
        max-width: 1270px;
        width: 100%;
    }
    @media(max-width:768px){
        max-width: 768px;
        padding: 0;
    }
    @media(max-width:320px){
        max-width: 320px;
        padding: 0;
    }
}
body{
    background-image: url(/assets/imgs/bg/background_1920.png);
    background-size: cover;
    background-position: center;

    @media (max-width:1440px) {
        background-image: url(/assets/imgs/bg/background_1440.png);
        background-size: cover;
    background-position: center;
    }

    @media (max-width:768px) {
        background-image: url(/assets/imgs/bg/background_768.png);
        background-size: cover;
    background-position: center;
    }
    @media(max-width:320px){
        background-image: url(/assets/imgs/bg/background_320.png);
        background-size: cover;
    background-position: center;
    }

    &::before{
    content: '';
    z-index: -1;
	display: block;
	width: 100%;
	height: 150vh;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, 0.5);
} 
    }
.header{
    margin-top: 106px;
    margin-bottom: 297px;

    @media(max-width:768px){
        display: none;
    }

    @media (max-width:1440px){
        margin-top: 60px;
    }
    &__burger{
        display: none;
        @media(max-width: 768px){
            display: inline;
            margin-left: 17px;
            background-color: rgba(0, 0, 0, 0);
            border: none;
        }
    }
    &__flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    &__links{
        font-family: 'AvantGarde';
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        text-decoration: none;
        color: rgba(255, 255, 255, 1);
        @media (max-width:1440px){
            font-size: 19px;
            line-height: 22px;
        }
        @media(max-width:1033px){
            font-size: 15px;
            line-height: 19px;
        }

        &_icon{
            &:hover{
                color: #ED8E00;
            }

            @media (max-width:1440px){
            width: 44px;
            height: 44px;
            }

                @media(max-width:1033px){
                    width: 30px;
                    height: 20px;
                }
            &-343{
                width: 230px;
                height: 120px;

                @media(max-width:1440px){
                width: 165px;
                height: 86px;
                }
                @media(max-width:768px){
                    width: 104px;
                    height: 54px;
                }
                @media(max-width:836px){
                    max-width: 200px; 
                    max-height: 100px;
                }
            }
        }
        &_icons{
        display: flex;
        column-gap: 30px;

        @media (max-width:1440px){
            column-gap: 10px;
        }
        }
    }
    &__search{
        
        

        &_icon{
            @media (max-width:1440px){
                width: 21px;
                height: 21px;
            }
            @media(max-width:768px){
                width: 20px;
                height: 20px;
            }
            @media(max-width:1033px){
                width: 15px;
                height: 15px;
            }
        }

        background-color:rgba(0, 0, 0, 0);
        width: 100%;
        border: none;
        height: 50px;
        @media (max-width:1440px){
            height: 35px;
        }
        @media (max-width:768px){
            height: 31px;
            width: 100%;
        }

        @media(max-width:1033px){
            height: 25px;
            width:100%;
        }
        &::placeholder{
            color: #D9D9D9;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            @media (max-width:1440px){
                font-size: 14px;
                line-height: 16px;
            }
            @media(max-width:1033px){
                font-size: 10px;
                line-height: 12px;
            }
            @media (max-width:768px){
                font-size: 11px;
                line-height: 12px;
            }
        }
        &_wrapper{
            border: 1px solid rgba(217, 217, 217, 1);
            max-width: 312px;
            width: 100%;
            display: flex;
            column-gap: 18px;
            align-items: center;
            padding-left: 25px;
            border-radius: 26px;
            background-color: rgba(166, 165, 165, 0.5);

            @media (max-width:1440px){
                max-width: 212px;
                width: 100%;
                padding-left: 18px;
                column-gap: 12px;
                border-radius: 18.712px;
            }
            @media(max-width:1033px){
                max-width: 150px;
                width: auto;
            }
            @media(max-width:836px){
                max-width: 120px;
            }
        }
    }
}
.main{
    margin-bottom: 150px;
    @media(max-width:768px){
        display: none;
    }

    &__768px{
        display: none;
        @media(max-width:768px){
            display: block;
        &_wrapper{
            margin-bottom: 16px;
            display: flex;
            align-items: flex-start;
            justify-content:space-between;
        }
    }
}
&__description{
    &_txt{
        max-width: 1089px;
        width: 100%;
        font-size: 30px;
        font-family: 'AvantGarde';
        color: white;
        line-height: 47px;
        text-align: left;
        
        @media(max-width:768px){
            max-width: 545px;
            line-height: 23px;
            font-size: 15px;
            margin-left: 17px;
        }
    }
    margin-bottom: 137px;
    @media(max-width:1440px){
        margin-bottom: 66px;
    }
}
&__buyBTN{
    font-family: 'AvantGarde';
    font-size: 30px;
    line-height: 34px;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    background-color: #ED8E00;
    color: black;
    padding: 33px;
    padding-left: 96.5px;
    padding-right: 96.5px;

    @media(max-width:768px){
        font-size: 15px;
        line-height: 17px;
        padding: 19px 48px;
        border: 25px;
        margin-top: 60px;
        margin-right: 16px;
    }

    &:hover{
        border: 1px solid rgb(217, 217, 217);
        background-color: rgb(237, 142, 0);
        color: rgb(217, 217, 217);
    }
    &:active{
        border: 1px solid rgb(217, 217, 217);
        background-color: rgb(238, 195, 130);
        color: rgb(237, 142, 0);
    }
}
}
.banner{

    @media(max-width:768px){
        max-width: 768px;
        width: 100%;
    }

    @media(max-width:320px){
        max-width: 320px;
        width: 100%;
    }
    border-top: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    &__img{
         @media(max-width: 1440px){
            max-width: 208px;
            max-height: 215px;
         }
    }

    &__h2{
        font-family: 'AvantGarde';
        font-weight: 400;
        font-size: 102px;
        line-height: 117px;
        color: rgba(255, 255, 255, 0.2);
        margin-top: 12px;
        margin-bottom: 62px;
        @media(max-width: 1440px){
            font-size: 76px;
            line-height: 87px;
            margin-bottom: 1px;
        }
        @media(max-width:768px){
            display: none;
        }
        @media(max-width:320px){
            display: none;
        }
        &-768{
            display: none;

            @media(max-width:320px){
                display: none;
            }

            @media(max-width:768px){
                display: block;
                font-family: 'AvantGarde';
                font-weight: 400;
                font-size: 48px;
                line-height: 55px;
                color: rgba(255, 255, 255, 0.2);
                margin-top: 12px;
                margin-bottom: 28px;
                margin-left: 65px;
            }
        }
    }
    &__imgflex{
        display: grid;
        column-gap: 60px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;
        padding-bottom: -112px;
        @media(max-width:768px){
            display: none;
        }
        @media(max-width:320px){
            display: none;
        }
        &-768{
            display: none;

            @media(max-width:320px){
                display: none;
            }
            @media(max-width: 768px){
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            column-gap: 34px;
            padding-bottom: 0px;
            }
        }
    }
    &__img_cont::before{
        content: '';
        display: block;
        padding-top: 100%;
    }
    &__img_cont{
        position: relative;
        border: 1px solid white;
        border-top-left-radius: 27px;
        border-top-right-radius: 27px;
        overflow: hidden;


        &-768{
            position: relative;
            border: 1px solid white;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            overflow: hidden;
            object-fit: cover;
        }
        &-768::before{
            content: '';
            display: block;
            padding-top: 120%;
        }

    }

    &__img{
        position: absolute;
        left: 0%;
        top: 0%;
        height: 100%;
        width: 100%;

        &-768{
        position: absolute;
        left: 0%;
        top: 0%;
        height: 100%;
        width: 100%;
        }
    }
}
.header__768px{
    display: none;
    @media(max-width:768px){
        display: block;
    &_flex{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 51px;
        
        &-search{
          display: flex;
          flex-direction: column;
          row-gap: 15px;
          align-items: center;
          padding-top: 6px;
        }
    }
    &_sidebar{
        border: none;
        background-color: rgba(0, 0, 0, 0);
    }
}
}